body {
  font-family: "Roboto", "sans-serif";
}

.main-container {
  margin: 0 auto;
  padding: 20px 60px;
  -webkit-box-shadow: 0px -3px 21px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 21px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 21px -3px rgba(0, 0, 0, 0.75);
  max-width: 1200px;
  background-color: #fff;
}

.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 100px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.banner__text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
}

.banner__title {
  font-size: 5rem;
  font-weight: bold;
  color: #022430;
}

.banner__paragraph {
  font-size: 1.8rem;
  color: #022430;
}

.banner__button {
  border: none;
  border-radius: 20px;
  padding: 8px;
  font-size: 1.8rem;
  color: #fff;
  width: 180px;
  background-color: #f98a47;
  cursor: pointer;
}

.banner__icon-container {
  display: flex;
  gap: 20px;
}

.fa-brands {
  cursor: pointer;
}

.banner__image {
  width: 100%;
  height: auto;
  aspect-ratio: 829 / 800;
}

.title {
  font-size: 2.4rem;
  color: #646d6f;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.services {
  margin-bottom: 40px;
}

.dishes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.dishes-container__dish-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.dishes-container__dish-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishes-container__dish-image--first {
  aspect-ratio: 739 / 800;
}

.dishes-container__dish-image--second {
  aspect-ratio: 309 / 290;
}

.dishes-container__dish-image--third {
  aspect-ratio: 60 / 61;
}

.dishes-container__dish-image--fourth {
  aspect-ratio: 307 / 316;
}

.dishes-container__dish-image--fifth {
  aspect-ratio: 305 / 328;
}

.home-menu {
  margin-bottom: 40px;
}

.title--home-menu {
  text-transform: initial;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.menu-container__dish-container {
  background-color: #feefec;
  border-top-left-radius: 20px;
  position: relative;
}

.menu-container__dish-container::before {
  content: "🩵";
  position: absolute;
  right: 4px;
  top: 4px;
}

.menu-container__dish-container--orange-heart::before {
  content: "🧡";
}

.menu-container__first-plate {
  aspect-ratio: 508 / 491;
}

.menu-container__second-plate {
  aspect-ratio: 517 / 483;
}

.menu-container__third-plate {
  aspect-ratio: 502 / 497;
}

.menu-container__fourth-plate {
  aspect-ratio: 1 / 1;
}

.menu-container__fifth-place {
  aspect-ratio: 499 / 500;
}

@media (width < 720px) {
  .banner {
    gap: 20px;
  }

  .banner__text-container {
    align-items: center;
  }

  .banner__text-container {
    text-align: center;
  }
}

@media (width <= 550px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner {
    border-bottom: initial;
  }

  .dishes-container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .dishes-container__dish-1 {
    grid-area: initial;
  }
}
