.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 50px;
  position: relative;
  width: 450px;
  height: 450px;
  background-color: #3a630d;
}

.item {
  display: grid;
  place-items: end;
  background-color: #add901;
}

.box {
  background-color: #61a81e;
  width: 55px;
  height: 90px;
}

.square {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: #1f3206;
  width: 50px;
  height: 50px;
}
